{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "json"],
      "plugins": ["copy-to-clipboard", "show-language"],
      "theme": "okaidia",
      "css": true
    }]
  ]
}